@model LAB1.Views.Home.LogInfo
@{
    ViewData["Title"] = "LogInfo";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @Html.ValidationSummary()
    
    <form class="form-inline">
        <input name="id" type="hidden" value="@ViewBag.ID">
        <div class="form-group mb-2">
            <label asp-for="Message"/>
            <input asp-for="Message" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary mb-2">Szukaj</button>
    </form>
    <div>
        @Model.Result
    </div>


</div>
